[Unit]
Description=Metadata search service

[Service]
Type=simple
Restart=always
RestartSec=5s
WorkingDirectory=/opt/kaoliang/mdsearch
ExecStart=/opt/kaoliang/mdsearch/mdsearch

[Install]
WantedBy=multi-user.target
